<!-- views/components/navbar.ejs -->
<nav class="navbar">
  <div class="navbar-logo">
    <a href="/">Apollo Fitness</a>
  </div>
  <ul class="navbar-links">
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Sign Up</a></li>
  </ul>
</nav>
