<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/dashboard.css">
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="./images/logo.png" alt="">
            <h1>Admin Name</h1>
        </div>
    </div>
    <div class="wrapper">
        <div class="side-panel">
            <a href="/admin-dashboard">Dashboard</a>
            <a href="/add-workout">Workout</a>
            <a href="/add-food">Food</a>
            <a href="#">Users</a>
            <a href="#">Progress Tracker</a>
        </div>

        <div class="main-col">
            <h1>Welcome, Admin</h1>
            <div class="first-col">
                <div class="summary">
                    <div class="card">
                        <h1>Total Users</h1>
                        <p><%= userCount %></p> <!-- Dynamic User Count -->
                    </div>
                    <div class="card">
                        <h1>Total Workouts</h1>
                        <p><%= workoutCount %></p> <!-- Dynamic Workout Count -->
                    </div>
                    <div class="card">
                        <h1>Total Food</h1>
                        <p><%= FoodCount %></p>
                    </div>
                    <div class="card">
                        <h1>Total Active Users</h1>
                        <p>0</p>
                    </div>
                </div>
            </div>
            <div class="second-col">
                <div class="recentact">
                    <h1>Recent Activities</h1>
                    <p>Logged: jeswaaa</p>
                </div>
            </div>
            <div class="review-sec">
                <h1>Reviews</h1>
                <div class="review-sec-col">
                    <p>No reviews...</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
