<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="shortcut icon" href="images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/dashboard-reviews.css">
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="./images/logo.png" alt="">
            <h1>Admin Name</h1>
        </div>
    </div>
    <div class="wrapper">
        <div class="side-panel">
            <a href="/admin-dashboard">Dashboard</a>
            <a href="/add-workout">Workout</a>
            <a href="/add-food">Food</a>
            <a href="/admin-usertbl">Users</a>
            <a href="/admin-review">Reviews</a>
            <div class="logoutbtn">
                <a href="/"><i class="fas fa-sign-out-alt"></i></a>
            </div>
        </div>

        <div class="main-col">
            <div class="review-section">

            </div>
    </div>
</body>
</html>
