<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Workout</title>
    <link rel="stylesheet" href="css/dashboard-addworkout.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Header & Side Panel -->
    <div class="header">
        <div class="logo">
            <img src="./images/logo.png" alt="">
            <h1>Admin Name</h1>
        </div>
    </div>
    <div class="side-panel">
        <a href="/admin-dashboard">Dashboard</a>
        <a href="/add-workout">Workout</a>
        <a href="/add-food">Nutrition</a>
        <a href="#">Users</a>
        <a href="#">Progress Tracker</a>
    </div>
</body>
</html>