<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Apollo Fitness Tracker</title>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <header>
    <nav>
      <div class="logo">
        <img src="/images/logo.png" alt="Apollo Logo">
        <h1>Apollo Fitness Tracker</h1>
      </div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Reviews</a></li>
        <li><a href="/login" class="login-btn">Login</a></li>
      </ul>
    </nav>
  </header>

  <section class="hero">
    <div class="hero-text">
      <h1>PUSH <span class="highlight-red">THYSELF</span></h1>
      <p>"You don’t have to be great to start, but you have to start to be great."</p>
      <a href="#" class="btn">Get Started</a>
    </div>
  </section>
</body>
</html>
