<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Apollo Fitness Tracker</title>
    <link rel="stylesheet" href="css/login.css" />
  </head>
  <body>
    <div class="container">
      <div class="left">
        <img src="/images/forlogin.png" alt="Fitness Image" />
      </div>
      <div class="right">
        <div class="form-container">
          <div class="logo">
            <img src="/images/logo.png" alt="Apollo Logo" />
          </div>
          <h1>Hi There!</h1>
          <p>LOGIN TO YOUR ACCOUNT</p>
          <form>
            <label for="username">USERNAME</label>
            <input type="text" id="username" placeholder="Username..." />

            <label for="password">PASSWORD</label>
            <input type="password" id="password" placeholder="Password..." />

            <button type="submit" class="login-btn">LOGIN</button>
          </form>
          <p class="signup-text">
            Doesn't have an account? <a href="/signup">Signup</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
