*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
/* Header */
.header{
    background-color: #111827;
}
.header .logo{
    display: flex;
    justify-content: space-between;
}
.header .logo img{
    height: 100px;
    width: 100px;
    margin-left: 50px;
}
.header .logo h1, span{
    margin-top: 30px;
    color: white;
    text-align: center;
    margin-right: 30px;
}
.content {
    display: flex; 
}

/* Side panel */
.side-panel{
    display: flex;
    flex-direction: column; 
    height: auto;
    width: 232px; 
    background-color: #111827;
}
.side-panel a{
    color: white;
    text-decoration: none;
    margin-top: 50px;
    padding: 20px;
}
.side-panel a:hover{
    background-color: #1f2937;
    padding: 20px;
}
.side-panel .logoutbtn{
    margin-top: 30px;
}
.side-panel .logoutbtn a{
    font-size: 30px;
    margin-left: 30%;
}
.side-panel .logoutbtn a:hover{
    color: #1f2937;
    background-color: transparent;
}
.side-panel a:hover{
    background-color: #1f2937;
    padding: 20px;
}
/* Dropdown Styles */
.dropdown {
    position: relative;
    margin-top: 50px;
}
.dropdown:hover{
    background-color: #1f2937;
}
.dropdown-toggle {
    cursor: pointer;
    padding: 20px;
    color: white;
}
.dropdown p:hover{
    min-width: 230px;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Align below the parent link */
    left: 0;
    background-color: #1f2937;
    width: 230px; /* Same width as the panel */
    z-index: 1;
    flex-direction: column;
}

.dropdown-content a {
    margin: 0; /* Override side-panel margin */
    padding: 15px 20px;
    background-color: #111827;
    color: white;
}

.dropdown-content a:hover {
    background-color: #374151;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

/* Main Column */
.main-col{
    flex-grow: 1;
    padding: 25px;
    overflow-y: auto; 
    height: 80vh;
}
.main-col .first-col {
    display: flex; 
    flex-wrap: wrap;
    gap: 30px; 
}
.main-col .summary {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
}
.main-col .card {
    align-items: center;
    margin-top: 30px;
    background-color: #1f2937;
    color: white;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.main-col .card h1{
    font-size: 20px;
}
.main-col .card p{
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
.main-col .second-col{
    margin-top: 1%;
    background-color: #1f2937;
    color: white; 
    padding: 20px;
    border-radius: 8px;
    width: 65%;
    height: 500px;
}
.main-col .second-col .recentAct ul{
    height: 450px;
    list-style-type: none;
    margin-top: 20px;
    overflow-y: scroll;
}
.main-col .second-col .recentAct #activity-list li {
    margin-bottom: 10px; /* Space between list items */
    line-height: 1.6;    /* Adjust line height */
    font-size: 20px;
    color: white;
}
.main-col .second-col hr {
    margin-bottom: 15px;
}
/* Review Section */

.review-sec{
    float: right;
    margin-top: -81.5%;
    border-radius: 10px;
    margin-right: 25px;
    background-color: #1f2937;
    padding: 20px;
    height: 935px;
    width:25% ;
    overflow-y: scroll;
}
.review-sec h1{
    text-transform: capitalize;
    color: white;
    text-align: center;
}
.review-sec .review-sec-col p{
    margin-top: 20px;
    color: white;
    text-transform: capitalize;
}
.most-favorite-workout{
    margin-top: 20px;
    background-color: #111827;
    padding: 20px;
    width: 65%;
    border-radius: 10px;
}   
.most-favorite-workout h1{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.most-favorite-workout .workout-details{
    margin-top: 10px;
    color: white;
    margin-bottom: 10px;
    text-transform: capitalize;
}
