*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
/* Header */
.header{
    background-color: #111827;
}
.header .logo{
    display: flex;
    justify-content: space-between;
}
.header .logo img{
    height: 100px;
    width: 100px;
    margin-left: 50px;
}
.header .logo h1{
    margin-top: 30px;
    color: white;
    text-align: center;
    margin-right: 30px;
}
.wrapper {
    display: flex; 
}

/* Side panel */
.side-panel{
    display: flex;
    flex-direction: column; 
    height: 90vh;
    width: 230px; 
    background-color: #111827;
}
.side-panel a{
    color: white;
    text-decoration: none;
    margin-top: 50px;
    padding: 20px;
}
.side-panel a:hover{
    background-color: #1f2937;
    padding: 20px;
}
.side-panel .logoutbtn{
    margin-top: 30px;
}
.side-panel .logoutbtn a{
    font-size: 30px;
    margin-left: 30%;
}
.side-panel .logoutbtn a:hover{
    color: #1f2937;
    background-color: transparent;
}
.side-panel a:hover{
    background-color: #1f2937;
    padding: 20px;
}

/* Main Column */
.main-col{
    flex-grow: 1;
    padding: 25px;
    overflow-y: auto; 
    height: 80vh;
}