@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/copperplate-gothic-std');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Arial', sans-serif;
  color: white;
}

body {
  background-image: url("/images/bg_landingpage.png");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 80px; /* Adjust the height as needed */
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 90px;
  height: 90px;
  margin-right: 10px;
}

nav ul {
  font-family: "Arvo", serif;
  display: flex;
  list-style: none;
  gap: 50px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

nav ul li .login-btn {
  border: 2px solid red;
  padding: 5px 15px;
  border-radius: 15px;
  font-weight: bold;
}

nav ul li .login-btn:hover {
  background-color: red;
  color: white;
}

.hero {
  height: 100vh;
  background-image: url('/images/fitness-background.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end; /* Align hero-text to the right */
  align-items: center;
  text-align: left; /* Align text to the left inside the box */
  position: relative;
  z-index: 1;
  padding-right: 50px; /* Padding to keep space on the right side */
}

.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* Dark overlay */
  z-index: -1;
}

.hero-text {
  max-width: 500px; /* Control width */
  text-align: right;
  margin-right: 75px;
}

.hero-text h1 {
  font-size: 110px; /* Make text larger */
  font-weight: bold;
}


.hero-text .highlight-red {
  color: red;
  text-shadow: 
  6px 6px 0px white,  /* Second shadow for thickness */
  0px 0px 10px white;  /* Optional glowing effect */
}

.hero-description {
  font-family: "Montserrat", sans-serif;
  font-size: 18px; /* Example size for the description */
  margin: 40px -60px;
  text-align: right;

}

.btn {
  font-family: 'Copperplate Gothic Std', sans-serif;                                              
  background-color: red;
  color: white;
  padding: 20px 40px; /* Larger button */
  text-decoration: none;
  font-size: 30px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: darkred;
}


