/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

/* Fade-in Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  display: flex;
  width: 80%;
  max-width: 1200px;
  height: 600px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  opacity: 0; /* Initial opacity set to 0 */
  animation: fadeIn 2s ease-in-out forwards; /* Animation over 2 seconds */
}

.left, .right {
  width: 50%;
}

.left img {
  width: 100%;
  height: 100%;
}

.right {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px;
}

.form-container {
  width: 80%;
  text-align: left;
  margin-left: 50px;
  padding-left: 20px;
}

.form-container .logo {
  position: absolute;
  top: 8%;
  right: 12%;
  margin-top: 20px;
  margin: 20px;
}

.form-container .logo img {
  width: 50px;
}

.form-container h1 {
  margin-bottom: 10px;
  font-size: 62px;
  font-weight: bolder;
}

.form-container p {
  margin-bottom: 20px;
  color: black;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  align-self: flex-start;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 3px solid #d0ccb9;
  border-radius: 5px;
  margin-top: 10px;
}

.login-btn {
  width: 90%;
  padding: 10px 20px;
  background-color: #3b3b39;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bolder;
}

.login-btn:hover {
  background-color: #34495e;
}

a {
  color: #2980b9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.signup-text {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}

.signup-text a {
  color: #bf1616;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}

.success-message {
  position: fixed; /* Position it in the fixed position */
  top: 20px;      /* Adjust top position */
  right: 20px;    /* Adjust right position */
  background-color: #d4edda; /* Light green background */
  color: #155724;  /* Dark green text color */
  border: 1px solid #c3e6cb; /* Light green border */
  padding: 15px; /* Padding for the message */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  z-index: 1000; /* Ensure it appears above other content */
  animation: fadeIn 0.5s; /* Animation for fade-in effect */
}

/* Fade-in animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Fade-out animation */
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
