* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  width: 80%;
  max-width: 1200px;
  height: 600px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.left, .right {
  width: 50%;
}

.left img {
  width: 80%;
  height: 100%;
}

.right {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px;
}

.form-container {
  width: 80%;
  text-align: left;
  margin-left: -80px;
  padding-left: 20px;
}

.form-container .logo {
  position: absolute;
  top: 5%;
  right: 10%;
  margin: 20px;
}

.form-container .logo img {
  width: 100px;
}

.form-container h1 {
  margin-bottom: 10px;
  font-size: 62px;
  font-weight: bolder;
}

.form-container p {
  margin-bottom: 20px;
  color: black;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  align-self: flex-start;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 3px solid #d0ccb9;
  border-radius: 5px;
  margin-top: 10px;
}

.login-btn {
  width: 90%;
  padding: 10px 20px;
  background-color: #3b3b39;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bolder;
}

.login-btn:hover {
  background-color: #34495e;
}

a {
  color: #2980b9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.signup-text {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}

.signup-text a {
  color: #bf1616;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}
